@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  body{
    background-image: url("fondo4.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.container{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  
  
}

.titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.7rem;
    font-family: Itim;
    color:#80496C;
    font-weight: bold;
}
.texto{
    display: flex;
    flex-direction: column;
    
}
.texto p{
    font-size: 2.2rem;
    text-align: center;
    font-family: Itim;
    color:#9B4673;
    font-weight: bold;
}

.div-boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto;
}
.boton{
    border-radius: 35%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: solid 3px #9B4673;
    background: transparent;
    font-weight: bold;
    color: #4B2B30;
    font-family: Itim;

}
.boton1{
    border-radius: 35%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: solid 3px #9B4673;
    background: transparent;
    font-weight: bold;
    color: #4B2B30;
    font-family: Itim;

}
.boton2{
    border-radius: 35%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: solid 3px #9B4673;
    background: transparent;
    font-weight: bold;
    color: #4B2B30;
    font-family: Itim;

}